/* YIT CSS Document */
body.yit-framework_page_yit_panel_iframe { overflow-y: hidden !important; }
.yit-framework_page_yit_panel_iframe #footer { display: none}
#yit_iframe { height: 100%; width: 100%; }

/* self-clear floats */
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; overflow:hidden; } 
/* ie.css */
* html .clearfix { /* IE6 */
    height:1%;
}
*:first-child+html .clearfix { /* IE7 */
    min-height:1%;
}  

.clearboth { clear: both }

#yit-header {
	margin-top: 13px;
	height: 87px;
	background: url('../images/header.png') left no-repeat;
	border-radius: 5px;
	max-width: 1200px;
	min-width: 870px;
}

#yit-header #logo{
	width: 172px;
	height: 55px;
	background: url('../images/logo.png') left no-repeat;
	margin: 11px 5px 5px 10px;
	position: absolute;
}

#yit-header #spot{
	width: 479px;
	height: 72px;
	background: url('../images/spot.png') center top no-repeat;
	position: absolute;
	margin-left: 260px;
	font-family: "Arial Narrow", Arial, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	padding-top: 40px;
	text-shadow: #4f5961 1px 1px 1px;
}
#yit-header #spot a{	
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
#yit-header #spot a strong{	
	font-family: "Arial Black", Arial, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}
#yit-header #info {
	float: right;
	display: block;
	color: #FFFFFF;
	margin-right: 23px;
	text-align: right;
}
#yit-header #info p.name-theme{
	font-family: "Arial Black", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	margin: 30px 0 12px 0;
	text-shadow: #293037 1px 1px 0px;
}
#yit-header #info p.framework-version{
	font-size: 12px;
	margin: 0px;	
}
#yit-utility-bar{
	height: 30px;
	position: relative;
	margin-top: 4px;
	background-color: #6a8194;
	border-radius: 5px;
	max-width: 1200px;
	min-width: 870px;
}

#yit-utility-bar p{
	color: #FFFFFF;
	font-size: 12px;
	text-shadow: #546675 -1px -1px 0px;
	padding-left: 15px;
	line-height: 30px;
	float: left;
	margin: 0px;
}
#yit-utility-bar p a{
	color: #eef59a;
	text-decoration: none;
}
#yit-utility-bar p a:hover{
	text-decoration: underline;
}
#yit-utility-bar p.right{
	padding-right: 25px;
	float: right;	
	text-align: right;
}
#yit-utility-bar p.right a{
	color: #FFFFFF;
	text-decoration: none;
}
#yit-utility-bar p.right a:hover{
	text-decoration: underline;
}































#yit_container  { margin-top: 5px; max-width: 1200px; position:relative; z-index: 0 }
#yit_container #yit-wrapper  { background-color: #f1f1f1; border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }
#yit_container #yit-wrapper #yit_content  { position: relative; margin-left: 189px; min-height: 600px; }
#yit_container #yit_content  { float: left; min-height: 650px; width: 595px; margin-left: -1px; padding: 0 20px; font-family: sans-serif; }
#yit-content {
	max-width: 995px;
	margin-left: 205px;
	position: relative;
	border-left: 1px solid #d8d8d8;
	background: #fff;
	min-height: 600px;
}

#yit_container #yit_content .yit-box h1 { display:none; padding: 20px 0; margin: 0 0 20px; font-size: 23px; color:#464646; font-weight:normal; border-bottom: 1px solid #e0e0e0; }

#yit_container .yit-box { padding-bottom: 20px; max-width: 900px; display: none }

#yit_container #yit-adminmenuwrap-shadow { width: 50px; position: absolute; top: 0; bottom: 0; right: 0; background: transparent url(../../../../../../wp-admin/images/menu-shadow.png) repeat-y top right; width: 6px; z-index: 999;}
#yit_container #yit_theme_option  { position: relative; }
#yit_container #yit-adminmenuwrap { height: 100%; float: left; position: absolute; top: 0; z-index: 9999; width: 205px; }
#yit_container #yit-adminmenuwrap ul { margin:0; }
#yit_container #yit-adminmenuwrap li { margin-bottom:0; position: relative;}
#yit_container #yit-adminmenuwrap ul li a:link, #yit-adminmenuwrap ul li a:visited  { display: block; padding: 7px 10px 7px 10px; font:bold 12px/18px sans-serif; text-decoration: none; color: #797979; border-bottom: 1px solid #d8d8d8; border-top:1px solid #fff; text-shadow: 0 1px 0 #fff; }
#yit_container #yit-adminmenuwrap ul li.current a:link, #yit_container #yit-adminmenuwrap ul li.current a:visited  {
	color: #21759b;
	margin-left: -1px;
	background-color: #777;
    background-image: -ms-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
    background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
    background-image: linear-gradient(bottom,#6d6d6d,#808080);
	text-shadow: 0 -1px 0 #333;
	color: white;
	border-top-color: gray;
	border-bottom-color: #6D6D6D;
}
body.js #yit_container #yit-adminmenuwrap li.current ul.yit-submenu, body.js #yit_container #yit-adminmenuwrap li.current ul.yit-submenu li a { margin-left:0; }
#yit-adminmenuwrap li .yit-menu-arrow   {
    display: none;
    top: 1px;
	cursor: auto;
	position: absolute;
	left: -1000px;
	margin: 0;
	height: 32px;
	width: 6px;
	-moz-transform: translate(146px);
	-webkit-transform: translate(146px);
	-o-transform: translate(146px);
	-ms-transform: translate(146px);
	transform: translate(146px);
}
#yit-adminmenuwrap li .yit-menu-arrow div {
 	position: absolute;
	-moz-transform: matrix(-0.6,1,0.6,1,0,0);
	-webkit-transform: matrix(-0.6,1,0.6,1,0,0);
	-o-transform: matrix(-0.6,1,0.6,1,0,0);
	-ms-transform: matrix(-0.6,1,0.6,1,0,0);
	transform: matrix(-0.6,1,0.6,1,0,0);
    height: 17px;
	width: 17px;
	top: 7px;
	left: 13px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	background: #E4E4E4;
	border-color: #CCC;
}
#yit-adminmenuwrap li.yit-has-submenu:hover .yit-menu-arrow {
	display: block;
	z-index: 9999;
	-moz-transform: translate(1183px);
	-webkit-transform: translate(1183px);
	-o-transform: translate(1183px);
	-ms-transform: translate(1183px);
	transform: translate(1183px);
	background: #E4E4E4;
	border-color: #CCC;
}

#yit-adminmenuwrap li.current .yit-menu-arrow, #yit-adminmenuwrap li.yit-has-submenu.current .yit-menu-arrow   {
	display: block;
	z-index: 9997;
	-moz-transform: translate(1184px);
	-webkit-transform: translate(1184px);
	-o-transform: translate(1184px);
	-ms-transform: translate(1184px);
	transform: translate(1184px);
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(bottom,#6d6d6d,#808080);
	background-image: linear-gradient(bottom,#6d6d6d,#808080);
}

#yit_container #yit-adminmenuwrap ul li.current .yit-menu-arrow div {
	border: none;
	background-color: #777;
	background-image: -ms-linear-gradient(right bottom,#6d6d6d,#808080);
	background-image: -moz-linear-gradient(right bottom,#6d6d6d,#808080);
	background-image: -o-linear-gradient(right bottom,#6d6d6d,#808080);
	background-image: -webkit-gradient(linear,right bottom,left top,from(#6d6d6d),to(#808080));
	background-image: -webkit-linear-gradient(right bottom,#6d6d6d,#808080);
	background-image: linear-gradient(right bottom,#6d6d6d,#808080);
}



#yit_container #yit-adminmenuwrap ul li.current a:hover  { color: #fff; }

#yit_container #yit-adminmenuwrap li ul  { background: #fff; border-bottom: 1px solid #DFDFDF; padding:5px 0; }
#yit_container #yit-adminmenuwrap li ul li  { border: none; }

/*-------------------------------------------------------------------------------------------*/
/* yit-submenu Navigation */
/*-------------------------------------------------------------------------------------------*/

body.js #yit_container #yit-adminmenuwrap ul.yit-submenu { display: none; margin: 0 1px; }
#wpwrap #yit_container #yit-adminmenuwrap li.yit-menu-top:hover { background-color: #e4e4e4; }
#wpwrap #yit_container #yit-adminmenuwrap li.yit-menu-top:hover .yit-rightmenu { display: block; }
#wpwrap #yit_container #yit-adminmenuwrap li.yit-menu-top.open:hover .yit-rightmenu { display: none; }
body.js #yit_container #yit-adminmenuwrap .yit-rightmenu { z-index: 9998; display: none; position: absolute; left: 205px; margin-top: -35px; width: 150px; background: #FFFFFF; border: 1px solid #EBEBEB; box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.4 ); }
body.js #yit_container #yit-adminmenuwrap .yit-rightmenu ul  { border: none; padding:5px 0;}
#wpwrap #yit_container #yit-adminmenuwrap .yit-rightmenu li a { padding-left: 20px; }
body.js #yit_container #yit-adminmenuwrap li.open .yit-rightmenu { display: none; }
#wpwrap #yit_container #yit-adminmenuwrap .yit-submenu a, #wpwrap #yit_container #yit-adminmenuwrap .yit-rightmenu a { background-color: #FFFFFF; background-image: none; border-bottom: 0; padding: 3px 5px 3px 15px; font-weight: normal; border: none; color: #21759B; text-shadow: none; }
#wpwrap #yit_container #yit-adminmenuwrap .yit-submenu a:hover { background-color: #eaf2fa; color: #333; }
#wpwrap #yit_container #yit-adminmenuwrap .yit-rightmenu a:hover { background-color: #eaf2fa; color: #333; }
#wpwrap #yit_container #yit-adminmenuwrap .yit-submenu li.active a { font-weight: bold; color: #333 }

#yit_container .submit_footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #d8d8d8;
    float: left;
    height: 50px;
    margin-left: -1px;
    position: relative;
    width: 100%;
    z-index: 9999;
}

/* menu and screen icons */
#yit-adminmenuwrap .yit-menu-icon {
	background-position: 0 center;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	margin: 10px 10px 0;
	background-image: url("../images/sprite-themeoptions.png");
}

#yit-adminmenuwrap .menu-icon-general:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-general .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-manager:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-manager .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-configuration:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-configuration .yit-menu-icon  {
	background-position: 0px -48px;
}
#yit-adminmenuwrap .menu-icon-general.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-general.current .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-manager.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-manager.current .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-configuration.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-configuration.current .yit-menu-icon  {
	background-position: 0px -32px;
}

#yit-adminmenuwrap .menu-icon-backup:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-backup .yit-menu-icon {
	background-position: 0px -368px;
}
#yit-adminmenuwrap .menu-icon-backup.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-backup.current .yit-menu-icon {
	background-position: 0px -352px;
}

#yit-adminmenuwrap .menu-icon-home_page:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-home_page .yit-menu-icon {
	background-position: 0px -80px;
}
#yit-adminmenuwrap .menu-icon-home_page.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-home_page.current .yit-menu-icon {
	background-position: 0px -64px;
}

#yit-adminmenuwrap .menu-icon-pages:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-pages .yit-menu-icon {
	background-position: 0px -16px;
}
#yit-adminmenuwrap .menu-icon-pages.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-pages.current .yit-menu-icon {
	background-position: 0px 0px;
}

#yit-adminmenuwrap .menu-icon-blog:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-blog .yit-menu-icon {
	background-position: 0px -112px;
}
#yit-adminmenuwrap .menu-icon-blog.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-blog.current .yit-menu-icon {
	background-position: 0px -96px;
}

#yit-adminmenuwrap .menu-icon-testimonials:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-testimonials .yit-menu-icon {
	background-position: 0px -144px;
}
#yit-adminmenuwrap .menu-icon-testimonials.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-testimonials.current .yit-menu-icon {
	background-position: 0px -128px;
}

#yit-adminmenuwrap .menu-icon-portfolios:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-portfolios .yit-menu-icon {
	background-position: 0px -176px;
}
#yit-adminmenuwrap .menu-icon-portfolios.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-portfolios.current .yit-menu-icon {
	background-position: 0px -160px;
}

#yit-adminmenuwrap .menu-icon-galleries:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-galleries .yit-menu-icon {
	background-position: 0px -208px;
}
#yit-adminmenuwrap .menu-icon-galleries.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-galleries.current .yit-menu-icon {
	background-position: 0px -192px;
}

#yit-adminmenuwrap .menu-icon-shop:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-shop .yit-menu-icon {
	background-position: 0px -240px;
}
#yit-adminmenuwrap .menu-icon-shop.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-shop.current .yit-menu-icon {
	background-position: 0px -224px;
}

#yit-adminmenuwrap .menu-icon-sliders:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-sliders .yit-menu-icon {
	background-position: 0px -272px;
}
#yit-adminmenuwrap .menu-icon-sliders.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-sliders.current .yit-menu-icon {
	background-position: 0px -256px;
}

#yit-adminmenuwrap .menu-icon-contact_forms:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-contact_forms .yit-menu-icon {
	background-position: 0px -304px;
}
#yit-adminmenuwrap .menu-icon-contact_forms.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-contact_forms.current .yit-menu-icon {
	background-position: 0px -288px;
}

#yit-adminmenuwrap .menu-icon-additional_features:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-additional_features .yit-menu-icon {
	background-position: 0px -336px;
}
#yit-adminmenuwrap .menu-icon-additional_features.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-additional_features.current .yit-menu-icon {
	background-position: 0px -320px;
}

#yit-adminmenuwrap .menu-icon-custom_style:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_style .yit-menu-icon {
	background-position: 0px -400px;
}
#yit-adminmenuwrap .menu-icon-custom_style.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_style.current .yit-menu-icon {
	background-position: 0px -384px;
}
#yit-adminmenuwrap .menu-icon-custom_codes:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_codes .yit-menu-icon {
	background-position: 0px -432px;
}
#yit-adminmenuwrap .menu-icon-custom_codes.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_codes.current .yit-menu-icon {
	background-position: 0px -416px;
}
#yit-adminmenuwrap .menu-icon-typography:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-typography .yit-menu-icon {
	background-position: 0px -464px;
}
#yit-adminmenuwrap .menu-icon-typography.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-typography.current .yit-menu-icon {
	background-position: 0px -448px;
}
#yit-adminmenuwrap .menu-icon-colors:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-colors .yit-menu-icon {
	background-position: 0px -496px;
}
#yit-adminmenuwrap .menu-icon-colors.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-colors.current .yit-menu-icon {
	background-position: 0px -480px;
}
#yit-adminmenuwrap .menu-icon-custom_sidebar:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_sidebar .yit-menu-icon {
	background-position: 0px -528px;
}
#yit-adminmenuwrap .menu-icon-custom_sidebar.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-custom_sidebar.current .yit-menu-icon {
	background-position: 0px -512px;
}

#yit-adminmenuwrap .menu-icon-popup:hover .yit-menu-icon, #yit-adminmenuwrap .menu-icon-popup .yit-menu-icon{
	background-position: 0px -544px;
}

#yit-adminmenuwrap .menu-icon-reset:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-reset .yit-menu-icon {
	background-position: 0px -592px;
}
#yit-adminmenuwrap .menu-icon-reset.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-reset.current .yit-menu-icon {
	background-position: 0px -576px;
}

#yit-adminmenuwrap .menu-icon-sampledata:hover .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-sampledata .yit-menu-icon {
	background-position: 0px -657px;
}

#yit-adminmenuwrap .menu-icon-sampledata.wp-has-current-submenu .yit-menu-icon,
#yit-adminmenuwrap .menu-icon-sampledata.current .yit-menu-icon {
	background-position: 0px -641px;
}

/*************
 * FINE MENU
 ************/

 #yit_backup .submit{ display: none; }
textarea, input, select {
    margin: 0;
}
#yit_theme_options_general_setting {
	
}

#yit-contact-forms {
 position: relative;
 max-width: 1195px;
 min-height: 600px;
 margin-left: 5px;
}
.yit-options { padding: 20px;  }
.yit_options {
    border-bottom: 1px solid #ddd;
    padding:20px;
	margin-bottom: 5px;
}

.yit_options .option{
    width: 500px;
    float: left;
}
.yit_options .description{
    float: left;
    width: 300px;
    color: #999999;
    font-weight: normal;
    width: 300px;
    margin-left: 10px;
	margin-top: 10px;
    text-align: left;
    font-size: 10px;
}
.yit_options .clear{
	clear:both;
	position:relative;
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.yit_options label {
		display: block;
		font-weight: bold;
		width: 400px;
		height:25px;
		cursor: default;
}
.rm_typography label {
    width: auto;
}
.yit_options small { 
    color: #999999;
    font-weight: normal;
    width: 300px;
    margin-left: 10px;
	text-align: left;
	font-size: 10px;
}

.yit_options input:not(.button):not(.number):not(#export-file):not(#delete-cache):not(#reset-theme-options):not(#delete-custom-sidebars):not(#delete-resized-images):not(#install-sampledata) {
		width: 400px;
        height: 29px;
		padding: 5px;
		background-color: #FAFAFA;
}
.yit_options input.upload {
		width: 340px;
}
.ed_button {
    width:auto !important;
}
.yit_options input.upload_button, .yit_options input.button {
    background: url(../images/button.png) no-repeat left bottom;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #808080;
    cursor: pointer;
    line-height: 28px;
    font-size:11px !important;
    padding: 0px;
    min-width: 51px;
    height: 28px;
}
.yit_options input.upload_button:active, .yit_options input.button:active {
    background-position: right bottom;
}
.yit_options input.input_button {
    border-color: #BBBBBB;
    cursor: pointer;
    height: 16px;
    width: auto;
}
.select_wrapper {
    background: url("../images/select.png") no-repeat scroll right center #FAFAFA;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    height: 26px;
    margin-bottom: 9px !important;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    width: 400px;
}
.select_wrapper span {
    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    position: absolute;
    z-index: 2;
}
.ie8 .yit_options select {
    height: 26px;
}
.yit_options select, .the-metabox .select_wrapper select {
    width: 400px;
    cursor: pointer;
    height: 28px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: inherit;
    z-index: 4;
    background-color: #FAFAFA;
}
.yit_options textarea {
    background-color: #FAFAFA;
    width: 400px;
	height: 175px;
}
label.radio-inline input{
    float: left;
	width: 30px;
}
input.checkbox-inline {
    float: left;
    width: 16px !important;
    height: 16px !important;
    margin-top: 0px;
}
input.checkbox-inline + label { font-weight: normal; }
span.submit {
    display: block;
    margin: 0 10px 0px 0;
    padding: 14px 0 0 0;
    position: absolute;
    right: 0px;
    z-index: 99;
}
span.submit.top { top: 0px; }
span.submit.bottom{ bottom: 0px; }

[class*="yit_panel_sidebars"] .submit.top {top: 30px;}

a.delete-form{
	line-height: 32px;
	margin-right: 5px;
}
.clear-right{
	clear: right;
}

/* cat / pag */
ul.list-sortable {
	width: 200px;
	float: left;
}
ul.list-sortable li.head { font-weight: bold }
ul.list-sortable label { font-weight: normal; width: 200px; }

/* select-icons */
.icon-preview { 
	width: 27px; 
	height: 27px; 
	border: 1px solid #ccc; 
	float: left;
	margin-left: 10px;
	
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.icon-preview span {
	padding: 2px 5px;
	font-size: 20px;
	line-height: 27px;
}

/* sidebar layout */
.yit-sidebar-layout input[type="radio"] {
    display: none;
    width: 0px;
}
.yit-sidebar-layout input[type="radio"]:first-child {
    margin-right: -2px;
}

.yit-sidebar-layout input[type="radio"] + img {
    border: 2px solid #fff;
    padding: 1px;
}

.yit-sidebar-layout input[type="radio"] + img:hover {
    cursor: pointer;
}

.yit-sidebar-layout input[checked] + img {
    border: 2px solid #f2ad35;
    padding: 1px;
}

/* number */
.rm_number .number {
	width: 70px;
	text-align: right;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*
.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute;height:23px !important; top: -2px !important}
.ui-spinner-buttons > div {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
} 
.ui-spinner-button {overflow: hidden; height: 9.5px !important}

.ui-spinner-button .ui-icon { font-size: 8px }
.ui-spinner-up {
    -webkit-border-top-right-radius: 3px !important; -moz-border-radius-topright: 3px !important; border-top-right-radius: 3px !important;
}
.ui-spinner-down {
    -webkit-border-bottom-right-radius: 3px !important; -moz-border-radius-bottomright: 3px !important; border-bottom-right-radius: 3px !important;
}
*/

.spinner-wrapper { position: relative; height: 23px; overflow: hidden; }
.spinner-wrapper input.number { float: left; }
.spinner-wrapper .spinner-button { cursor:pointer; float: left; position: absolute; left: 69px; width: 15px; height: 12px; border: 1px solid #DFDFDF; background: #fff; margin: 0; padding: 0; line-height: 9999px; overflow: hidden; background: url('../images/spinner.png') no-repeat center -11px }
.spinner-wrapper .spinner-button.button-plus { top: 0; -webkit-border-top-right-radius: 3px !important; -moz-border-radius-topright: 3px !important; border-top-right-radius: 3px !important;  }
.spinner-wrapper .spinner-button.button-minus { bottom: 0; background-position: center -30px; -webkit-border-bottom-right-radius: 3px !important; -moz-border-radius-bottomright: 3px !important; border-bottom-right-radius: 3px !important; }


.spinner-wrapper .spinner-button.button-plus:active { background-position: center 0px; }
.spinner-wrapper .spinner-button.button-minus:active { background-position: center -20px; }


.rm_typography .spinner_container { float: left; margin-right: 10px; }
.rm_typography .spinner-wrapper { height: 28px; }
.rm_typography .spinner-wrapper input.number { height: 28px; }
.rm_typography .spinner-wrapper .spinner-button.button-plus { height: 15px; background-position: center -10px;  }
.rm_typography .spinner-wrapper .spinner-button.button-minus { height: 14px; } 

.the-metabox .spinner-wrapper .spinner-button { left: 49px; }
.the-metabox.typography .spinner-wrapper .spinner-button { left: 35px; }


/* typography */
.yit_options.rm_typography {
    padding-bottom:0px;
}
.rm_typography .option {
    width: 100%;
}
.rm_typography.rm_number input {
    float:left;
    margin-right:14px;
}

.rm_typography .select_wrapper {
    float: left;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 0px !important;    
}
.rm_typography .select_wrapper.font-unit {
    width: 61px;
}
.rm_typography .ui-spinner-buttons {
    top: 0px !important;
}
.rm_typography .select_wrapper.font-style {
    width: 93px;
}
.rm_typography .select_wrapper select {
    width:100%;
}

.rm_typography .font-preview {
    border: 1px dashed #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    position: relative;
}
.rm_typography .font-preview .refresh_container {
    background: rgba(255,255,255,0.82);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.ie8 .rm_typography .font-preview .refresh_container { background: url(../images/ie_overlay_82_white.png) repeat; }
.rm_typography button.refresh {
    /*background: #F2F2F2 url(../images/white-grad.png) repeat-x scroll left top;*/
    border: 1px solid #BBB;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: #464646;
    cursor: pointer;
    font-size: 12px!important;
    line-height: 6px;
    margin: -16px 0px 0px -105px;
    padding: 3px 8px;
    position:  absolute;
    text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
    text-decoration: none;
    top: 50%;
    left: 50%;
    width: 108px;
    height: 18px;
}
.rm_typography button.refresh img {
    margin-right: 5px;
    vertical-align: middle;
}

/* bg preview */
.rm_bg-preview .option { width: 600px; }
.bg-preview div { 
	width: 600px; 
	height: 200px; 
	border: 1px solid #ccc;
}

/* sidebar list */
.rm_sidebarlist table {
    width: 100%;
}
.rm_sidebarlist table tr td {
    border-bottom: 1px solid #f4f4f4;
    padding: 8px 0;
}
.rm_sidebarlist table tr td a img {
    vertical-align: middle;
}

/* custom sidebar */
.rm_customsidebar .yit-sidebar-layout, .rm_customsidebar .select_wrapper {
    float:left;
}

.rm_customsidebar .yit-sidebar-layout {
    margin-right: 4px;
}

.rm_customsidebar .select_wrapper {
    margin-top: 5px;
    width: 330px;
}

/* multicheckbox */
.rm_multi_checkbox input, .rm_multi_checkbox label { width: auto !important; }
.rm_multi_checkbox input { height: 16px !important; margin-top: 0px;}


/* Custom Post Type unlimited backend */
#post-type-settings .inside { margin:0; padding:0; }
#post-type-settings .inside .metaboxes-tab {margin:0;}
#post-type-settings .settings-tab div.tabs-panel { height:auto; overflow:visible; padding:0 10px; background:none; border:0; border-top:1px solid #D4D4D4; }
#post-type-settings .settings-tab ul.settings-tabs { background:#E6E6E6; margin:0; padding:10px 0 0 5px; }
#post-type-settings .settings-tab ul.settings-tabs li { padding:8px 15px; border:1px solid #D4D4D4; float:left; background:#EDEDED; border-bottom-color:#EDEDED; margin:0 0 -1px 5px; box-shadow:1px 1px 1px 0 #FFFFFF inset; }
#post-type-settings .settings-tab ul.settings-tabs li a { color:#555; text-decoration:none; }
#post-type-settings .settings-tab ul.settings-tabs li.tabs { background:#F6F6F6; border-bottom:1px solid #F6F6F6; }
#post-type-settings .settings-tab p.field-row { margin:20px 0; }
#post-type-settings .settings-tab div.sep { height:1px; background:#DFDFDF; clear:both; margin-left:-10px; margin-right:-10px;  }
#post-type-settings .settings-tab label { font-weight:bold; width:180px; float:left; line-height:23px; }
#post-type-settings .settings-tab input[type="text"] { width:30%; }
#post-type-settings .settings-tab select {padding:0;}
#post-type-settings .settings-tab input.button-secondary, #post-type-settings .settings-tab input.checkbox { width:auto; }
#post-type-settings .settings-tab .description { color:#AFAFAF; font-size:90%; font-style:italic; line-height:23px; padding-left:5px; }
#post-type-settings .settings-tab .the-metabox { border-bottom:0; }
#post-type-settings .settings-tab p.field-row.textarea .description { vertical-align:top; }
#post-type-settings .settings-tab p.field-row.checkbox {background:none;}
#post-type-settings .settings-tab .slides-wrapper { padding:20px 10px; background:#E1E1E1; border:solid #D4D4D4; border-width:1px 0; margin-left:-10px; height:127px; width:100%; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; }
#post-type-settings .settings-tab .slides-wrapper a, #post-type-settings .settings-tab .slides-wrapper li { display:inline-block; cursor:move; }
#post-type-settings .settings-tab .slides-wrapper a img { width:140px; height:100px; display:block; margin:0 10px; border:4px solid #C4C4C4; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
#post-type-settings .settings-tab .slides-wrapper a.selected img { border-color:#F2B100; }

#post-type-settings .settings-tab ul.settings-tabs li {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/* table contact form fields */
table.form-field td {line-height: 32px; }
th.field-title, td.field-title{ width: 140px; }
th.field-name, td.field-name{ width: 110px; }
th.field-required, td.field-required{ width: 110px; }
th.field-type, td.field-type{ width: 110px; }
th.field-button, td.field-button{ text-align: center; }
.form-field span { margin: auto 10px; }

/* slider */
/*numbers*/
.ui-slider .maxCaption, .ui-slider .minCaption {
    margin-bottom: 5px;
}
.ui-slider .feedback {
    background: url(../images/slider/tooltip.png) no-repeat center top;
    position: absolute;
    top: -25px;
    width: 35px;
    height: 43px;
}
.ui-slider .feedback strong {
    display: inline-block;
    padding-top: 4px;
    top: -30px;
}
/*handle*/
.ui-slider-horizontal .ui-slider-handle{
    background: transparent url(../images/slider/handle.png) no-repeat left top !important;
    border: 0px !important;
    top: -.35em !important;
    width: 18px !important;
    height: 19px !important;
}

/*bg on the left:grey*/
.ui-slider.ui-widget-content:not(.iris-slider-offset) {
    background: url(../images/slider/grey.gif) repeat-x left center !important;
    border-color: #c1c1c0 !important;
    height: 10px !important;
}

/*bg on the right:orange*/
.ui-slider.ui-widget-content .ui-widget-header {
    background: url(../images/slider/orange.gif) repeat-x left center !important;
    left: 2px !important;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

/* onoff */
.rm_onoff input {
  display: none;
}

.rm_onoff input + span {
    cursor: pointer;
    text-indent: -9999px;
    display: block;
    width: 85px;
    height: 37px;
    background: transparent url(../images/off.png);
}

.rm_onoff input:checked + span {
    background: transparent url(../images/on.png);
}

.rm_onoff input.onoffchecked + span {
    background: transparent url(../images/on.png);
}

.messages-panel.updated {
}

.ui-widget-overlay { background-image: none !important; }


/* connectedlist */
.rm_connectedlist .list_container {
	width: 160px;
	float: left;
	margin-right: 5px;
}
.rm_connectedlist ul {
	float: left;
	width: 150px;
	background: #eee;
	padding: 5px;
}
.rm_connectedlist li {
	margin: 0 5px 5px 5px; 
	padding: 5px; 
	color: #222;
	width: 130px;
	cursor: move;
}


/* Messages */
#setting-error-tgmpa,
#setting-error-yit-communication {
    position:relative;
    z-index:100;
    border:1px solid #3c4a5a !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:inset 0 0 15px rgba(0,0,0,0.04);
    -moz-box-shadow:inset 0 0 15px rgba(0,0,0,0.04);
    box-shadow:inset 0 0 15px rgba(0,0,0,0.04);
    overflow:hidden;
    background:#707f93 url(../images/walter-message.png) no-repeat right bottom!important;
    padding: 5px 30px;
    clear: both;
}

.wrap .title_line {
    height: auto;
}

/* revolution slider plugin fix */
.wrap.settings_wrap .vert_sap {
    clear: both;
}

#setting-error-tgmpa p,
#setting-error-yit-communication p {
    color: #fff;
    font-size: 15px;

}
#setting-error-tgmpa p strong,
#setting-error-yit-communication p strong { font-weight: normal; }
#setting-error-tgmpa p em,
#setting-error-yit-communication p em { font-style: normal; font-weight: bold }

#setting-error-tgmpa a, #setting-error-tgmpa p em,
#setting-error-yit-communication a, #setting-error-yit-communication p em {
    color: #a3d200
}
#setting-error-tgmpa a:hover,
#setting-error-yit-communication a:hover {
    color: #c6ff00
}

#setting-error-tgmpa .action_links,
#setting-error-yit-communication .action_links {
    color: #707f93;
    margin-top: 15px;
}
#setting-error-tgmpa .action_links a, #setting-error-tgmpa .how_to_update,
#setting-error-yit-communication .action_links a, #setting-error-yit-communication .how_to_update {
    background: #92bb00;
    background-image: none;
    height: 30px;
    line-height: 30px;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    text-shadow: 1px 1px rgba(0,0,0,.25);

    box-shadow: 2px 2px 2px rgba(84, 96, 113, .75);
    -webkit-box-shadow: 2px 2px 2px rgba(84, 96, 113, .75);
    -moz-box-shadow: 2px 2px 2px rgba(84, 96, 113, .75);

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#setting-error-tgmpa .action_links a:hover,
#setting-error-yit-communication .action_links a:hover {
    background-color: #acdd00;
}

#setting-error-tgmpa .action_links a.dismiss-notice,
#setting-error-yit-communication .action_links a.dismiss-notice {
    background-color: #8597ae;
}

#setting-error-tgmpa .action_links a.dismiss-notice:hover,
#setting-error-yit-communication .action_links a.dismiss-notice:hover {
    background-color: #b2c9e7;
}

#setting-error-tgmpa .how_to_update,
#setting-error-yit-communication .how_to_update {
    color: #fff;
    margin-left: 20px;
    background: #92bb00 url('../images/icons/update_plugins.png') no-repeat 10px 8px;
    padding-left: 32px;
}

#setting-error-tgmpa .how_to_update:hover,
#setting-error-yit-communication .how_to_update:hover {
    color: #fff;
    background-color: #acdd00;
}

.yit-box-info {
    background-color: #f8fBfC;
    border: 1px dotted #CFCFCF;
    color: #333;
    padding: 0 5px;
}