.slider-2706 .ei-title h2, .slider-2706 .ei-title h2 a { font-size: 40px; font-family: "Lucida Console", Monaco, monospace; color: #ffffff; font-style: normal; font-weight: 700; }
.slider-2706 .ei-title h3, .slider-2706 .ei-title h3 a { font-size: 20px; font-family: "Lucida Console", Monaco, monospace; color: #ffffff; font-style: normal; font-weight: 400; }
#maintenance_message { font-size: 13px; font-family: 'Lato', sans-serif; color: #525251; font-style: normal; font-weight: 400; }
#maintenance_newsletter .newsletter-section input.text-field, #maintenance_newsletter .newsletter-section label { font-size: 13px; font-family: 'Lato', sans-serif; color: #656565; font-style: normal; font-weight: 400; }
#maintenance_newsletter .newsletter-section input.submit-field { font-size: 12px; font-family: 'Lato', sans-serif; color: #e1e1e1; font-style: normal; font-weight: 700; }
.black-button, .alt-buttons a, .alt-button, .btn.btn-alt-button,  .btn.btn-black-button,
a.button, button.button, input.button, #respond input#submit,
.woocommerce-page a.button.alt,
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field, .btn-button, btn-mini,
#popupWrap.add-to-cart .buttons input.button,
#portfolio.columns .read-more,
.woocommerce .cart-collaterals input[type=submit].button.checkout-button, .pricing_box p.button a, .price-table .body .more a,
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.checkout { background-color: #000000; border-color: #5d5959; }
.black-button:hover, .alt-buttons a:hover, .alt-button:hover, .btn.btn-alt-button:hover,  .btn.btn-black-button:hover,

a.button:hover, button.button:hover, input.button:hover,
.woocommerce .wishlist_table .product-add-to-cart a.add_to_cart.button.alt:hover,
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field:hover, .btn-button:hover,
#portfolio.columns .read-more:hover,
.contact-form li.submit-button input:hover,
.woocommerce .cart-collaterals input[type=submit].button.checkout-button:hover, .pricing_box p.button a:hover, .price-table .body .more a:hover,
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.checkout:hover { background-color: #454545; border-color: #5d5959; }
.red-button,
                        .contact-form li.submit-button input,
                        #place_order,
		                .sidebar .contact-form li.submit-button input,
					    .sidebar .widget_search #searchform .button,
                        .woocommerce ul.products li.product.grid .buttons-list-wrapper a.button, .woocommerce div.product form.cart .button,
                        .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce input.checkout-button,
                        .woocommerce #respond input#submit, .woocommerce-page input.button.alt,
                        .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button,
                        .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button,
                        .woocommerce #payment #place_order, .btn.btn-red-button,
                        .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.cart,
                        .sidebar .widget_product_search #searchform #searchsubmit,
                        .woocommerce .wishlist_table .product-add-to-cart a.add_to_cart.button.alt,
                        #respond #commentsubmit,
                        .error-404-search input#searchsubmit,
                        .woocommerce-checkout .step input.guest { background-color: #ca4b4b; border-color: #9f2424; }
.red-button:hover,
		                        #place_order:hover,
		                        .sidebar .contact-form li.submit-button input:hover,
							    .sidebar .widget_search #searchform .button:hover,
                                .contact-form li.submit-button input:hover,
                                .woocommerce ul.products li.product.grid .buttons-list-wrapper a.button:hover, .woocommerce div.product form.cart .button:hover,
                                .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
                                .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover,
                                .woocommerce-page button.button:hover, .woocommerce-page input.button:hover,
                                .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover,
                                .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
                                .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover,
                                .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover,
                                .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover,
                                .woocommerce-page #content input.button.alt:hover,
                                .woocommerce #payment #place_order:hover, .btn.btn-red-button:hover,
                                .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.cart:hover,
                                .sidebar .widget_product_search #searchform #searchsubmit:hover,
                                .woocommerce .wishlist_table .product-add-to-cart a.add_to_cart.button.alt:hover,
                                #respond #commentsubmit:hover,
                                .error-404-search input#searchsubmit:hover { background-color: #8d0202; border-color: #9f2424; }
.white-button, .btn.btn-white-button { background-color: #ffffff; border-color: #414141; font-size: 11px; font-family: 'Lato', sans-serif; color: #414141; font-style: normal; font-weight: 800; }
.white-button:hover, .btn.btn-white-button:hover { background-color: #414141; border-color: #414141; color: #ffffff; }
#contact_popup h1.title { font-size: 18px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 700; background-color: #f0eded; }
.dropdown_arrow { background-image: url('http://newcourses.staging.wpengine.com/wp-content/themes/tyrion/images/dropdown-arrow.png'); }
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content, .yit_cart_widget .cart_wrapper , .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons { background-color: #ffffff; }
#primary ul.products li.product a.button.out-of-stock { background-color: #8e0404; color: #fff; }
.widget.widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #DADADA; }
.widget.widget_price_filter .ui-slider .ui-slider-range, .widget.widget_price_filter .ui-slider .ui-slider-handle { background-color: #CD8906; }
.widget.widget_layered_nav .sizes li.chosen .size-filter { color: #c38204; border-color: #dec084; }
.widget.widget_layered_nav li a, .widget_product_categories .product-categories li a, .widget.widget_layered_nav .sizes li .size-filter { color: #4F4D4D; }
.widget.widget_layered_nav li a:hover, .widget_product_categories .product-categories li a:hover, .woocommerce .widget_layered_nav ul li.chosen a:after, .woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce .widget_layered_nav ul li.chosen a, .widget_product_categories .product-categories li.current-cat a, .widget.widget_layered_nav .sizes li .size-filter:hover, .widget.widget_layered_nav .sizes li.chosen .size-filter { color: #ca4b4b;  border-color: #ca4b4b; }
.woocommerce ul.products li.product span.added { background-image: url('http://newcourses.wpengine.com/wp-content/themes/tyrion/woocommerce/images/bullets/added.png'); }
.woocommerce ul.products li.product.grid a.add_to_cart_button:hover { color: #ca4b4b; }
.single-product.woocommerce div.product .product_title { font-size: 16px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.woo_cart .yit_cart_widget.widget_shopping_cart .cart_wrapper ul.cart_list li a, .woo_cart .yit_cart_widget.widget_shopping_cart .cart_wrapper .cart_list li.empty, .woo_cart .yit_cart_widget.widget_shopping_cart .cart_wrapper h2, .yit_cart_widget .cart_wrapper .widget_shopping_cart_content li a, .yit_cart_widget .cart_wrapper .widget_shopping_cart_content li .quantity, .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons a { font-size: 11px; font-family: 'Lato', sans-serif; color: #000000; font-style: normal; font-weight: 800; }
 .yit_cart_widget .cart_wrapper .widget_shopping_cart_content li .remove_item { font-size: 11px; font-family: 'Lato', sans-serif; color: #b4b4b4; font-style: normal; font-weight: 400; }
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content li a:hover { color: #ca4b4b; }
.woo_cart .yit_cart_widget.widget_shopping_cart ul.product_list_widget li .quantity, .woo_cart .yit_cart_widget.widget_shopping_cart ul.product_list_widget li .amount { font-size: 12px; font-family: 'Lato', sans-serif; color: #9f6110; font-style: normal; font-weight: 400; }
.black-button, .alt-buttons a, .alt-button, .btn.btn-alt-button,  .btn.btn-black-button,
a.button, button.button, input.button, #respond input#submit,
.woocommerce-page a.button.alt,
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field, .btn-button, btn-mini,
#popupWrap.add-to-cart .buttons input.button,
#portfolio.columns .read-more,

.woocommerce .cart-collaterals input[type=submit].button.checkout-button,  .price-table .body .more a,
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.checkout { font-size: 11px; font-family: 'Lato', sans-serif; color: #999999; font-style: normal; font-weight: 800; }
.black-button:hover, .alt-buttons a:hover, .alt-button:hover, .btn.btn-alt-button:hover,  .btn.btn-black-button:hover,

a.button:hover, button.button:hover, input.button:hover,
.woocommerce .wishlist_table .product-add-to-cart a.add_to_cart.button.alt:hover,
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field:hover, .btn-button:hover,
#portfolio.columns .read-more:hover,
.contact-form li.submit-button input:hover,
.woocommerce .cart-collaterals input[type=submit].button.checkout-button:hover,  .price-table .body .more a:hover,
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.checkout:hover { color: #ffffff; }
.red-button,
                        #place_order,
                        .contact-form li.submit-button input,
		                .sidebar .contact-form li.submit-button input,
					    .sidebar .widget_search #searchform .button,
                        .woocommerce ul.products li.product.grid .buttons-list-wrapper a.button, .woocommerce div.product form.cart .button,
                        .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce input.checkout-button,
                        .woocommerce #respond input#submit, .woocommerce-page input.button.alt,
                        .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button,
                        .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button,
                        .woocommerce #payment #place_order, .btn.btn-red-button,
                        .sidebar .widget_product_search #searchform #searchsubmit,
                        .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.cart { font-size: 11px; font-family: 'Lato', sans-serif; color: #999999; font-style: normal; font-weight: 800; }
.red-button:hover,
                                #place_order:hover,
		                        .sidebar .contact-form li.submit-button input:hover,
							    .sidebar .widget_search #searchform .button:hover,
                                .contact-form li.submit-button input:hover,
                                .woocommerce ul.products li.product.grid .buttons-list-wrapper a.button:hover, .woocommerce div.product form.cart .button:hover,
                                .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
                                .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover,
                                .woocommerce-page button.button:hover, .woocommerce-page input.button:hover,
                                .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover,
                                .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
                                .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover,
                                .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover,
                                .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover,
                                .woocommerce-page #content input.button.alt:hover,
                                .woocommerce #payment #place_order:hover, .btn.btn-red-button:hover,
                                .sidebar .widget_product_search #searchform #searchsubmit:hover,
                                .yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons .button.cart:hover { color: #ffffff; }
#topbar, #topbar p, #topbar a, #topbar li { font-size: 13px; font-family: 'Lato', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#topbar a, #topbar #lang_sel a { color: #ffffff; }
#topbar a:hover, #topbar #lang_sel a:hover { color: #dedede; }
#header #logo #textual, span.logo { font-size: 42px; font-family: 'Lato', sans-serif; color: #302e2e; font-style: normal; font-weight: 400; }
#header #logo #textual span { font-size: 42px; font-family: 'Lato', sans-serif; color: #9f0808; font-style: normal; font-weight: 400; }
#header #logo #tagline { font-size: 12px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 400; }
#header #logo #tagline span { font-size: 12px; font-family: 'Lato', sans-serif; color: #000000; font-style: normal; font-weight: 700; }
.slogan h2 { font-size: 36px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 700; }
.slogan h3 { font-size: 18px; font-family: 'Lato', sans-serif; color: #868484; font-style: normal; font-weight: 400; }
.post-title, .blog-big .meta .post-title a, .blog-small .meta .post-title a,
    .blog-big-image .blog-big-image-content h2, .blog-big-image .blog-big-image-content h2 a { font-size: 24px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 800; }
.section.blog .description h3 a, .section.blog div.figure h3 a { font-size: 11px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.section.blog .description h3 a:hover { color: #ca4b4b; }
.the-content-post .post-subtitle { font-size: 17px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 400; }
.the-content-post p { font-size: 14px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 400; }
.post-title:hover, .post-title a:hover, .blog-big .meta .post-title a:hover,
                            .hentry-post .post-title > a:hover,  .blog-big-image .blog-big-image-content h2 a:hover { color: #ca4b4b; }
.blog-small-image-content .meta p a, .blog-pinterest .meta div p a, .blog-big-image .meta p a { color: #000000; }
.blog-small-image-content .meta p a:hover, .blog-pinterest .meta div p a:hover,  .blog-big-image .meta p a:hover { color: #736e6e; }
#copyright { background: #ffffff; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
#footer { background-color: #ffffff; background-repeat: no-repeat; background-position: top center; background-attachment: scroll; }
#footer .recent-post .thumb-img img, #footer .widget ul li a:hover,  #footer #searchform input, #footer .widget_flickrRSS img, #footer .testimonial-widget div.name-testimonial, #footer .last-tweets-widget ul li, #footer .yit-widget-content .widget, #footer .recent-comments .avatar img, #footer .more-projects-widget .work-thumb, #footer .more-projects-widget .controls, #footer .more-projects-widget .top, #footer .featured-projects-widget img, #footer .thumb-project img { border-color: #d0d0d0; }
#footer .container .row:after, #footer .row-fluid:after { border-color: #e8e8e8; }
#copyright .container .row-fluid, #copyright .container .row { border-color: #d0d0d0; }
.boxed #wrapper, #header .slider.slider-thumbnails, #header .slider.slider-thumbnails .showcase-thumbnail-container, .section.portfolio .wrap-title .title,
    .page .home-row .home-widget h3 { background-color: #ffffff; }
code, pre, body hr, #copyright .inner, #footer .inner, .gallery img, .gallery img, .content .archive-list ul, .content .archive-list ul li, 
.more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img,
.thumb-project img, #searchform input, .portfolio-categories ul li, .portfolio-categories ul li:hover, .recent-comments .avatar img,
#portfolio .read-more, #portfolio .more-link, #portfolio .read-more:hover,
#portfolio .more-link:hover, .accordion-title, .accordion-item-thumb img, form input[type="text"], form textarea, .testimonial-page,
div.section-caption .caption, .line, .last-tweets-widget ul li, .toggle p.tab-index, .toggle .content-tab, .testimonial,
.google-map-frame, .section.blog .post, .section.blog h4.other-articles, .section.blog .sticky .thumbnail, .section .portfolio-sticky .work-categories,
.testimonial, #searchform input, .blog-big .meta p, .blog-big p.list-tags, .blog-small .image-wrap, .comment-container, .image-square-style #comments img.avatar,
#comments .comment-author img, .comment-meta, #respond input, #respond textarea, img.comment-avatar, .portfolio-big-image a.thumb, .portfolio-big-image a.more,
.portfolio-big-image a.more:hover, .portfolio-big-image .work-thumbnail a.nozoom, .portfolio-big-image .work-skillsdate, .internal_page_item, .gallery-wrap li h5,
.gallery-filters, .portfolio-full-description a.thumb, .portfolio-full-description a.more, .portfolio-full-description a.more:hover,
.portfolio-full-description .work-skillsdate, .related_img, #portfolio.columns .overlay_a, .yit-widget-content .widget,
.slider.thumbnails .showcase-thumbnail img, .slider.thumbnails .showcase-thumbnail img:hover, .slider.thumbnails .showcase-thumbnail.active img,
.recent-post .thumb-img img, .widget_archive ul li a, .widget_archive ul li a:hover, .widget_nav_menu ul li a, .widget_nav_menu ul li a:hover,
.widget_pages ul li a, .widget_pages ul li a:hover, .widget_categories ul li a, .widget_categories ul li a:hover, #searchform input,
.widget_flickrRSS img, .sidebar .widget li ul.sub-menu li:last-child a,.widget_nav_menu ul li a, .widget_pages ul li a, .widget_categories ul li a, .widget_archive ul li a:hover,
.widget_nav_menu ul li.current_page_item > a, .widget_pages ul li.current_page_item > a, .widget_categories ul li.current_page_item > a,
.testimonial-widget div.name-testimonial, .last-tweets-widget ul li, .yit-widget-content .widget, .portfolio-categories ul li, .recent-comments .avatar img,
.more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img, .thumb-project img, .picture_overlay,
#respond textarea:focus, .section-portfolio-classic .work-projects a.img, .border, #header-cart-search .cart-items, #header-cart-search .cart-subtotal,
#header-cart-search .widget_shopping_cart .cart_control, #nav .container, .sitemap h3, #copyright .border,
#topbar .widget_search_mini, #header-sidebar #mini-search-submit, #header-sidebar .widget_search_mini .search_mini_content, .topbar-border, .faq-filters-container, .woocommerce .cart-collaterals .cart_totals,
.woocommerce table, .woocommerce table.shop_table, .woocommerce-page table.shop_table, .ie_border, .woocommerce form.login,
.woocommerce .woocommerce_checkout_coupon, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page .woocommerce_checkout_coupon, .woocommerce-page form.register,
.woocommerce-account .woocommerce form, .woocommerce .address, .woocommerce form.checkout_coupon, .services h1.post-title, .services h1,

.woocommerce ul.products li.product a.thumb,

.woocommerce div.product div.images .thumbnails img
#primary .woocommerce div.product table.variations,
.single-product.woocommerce div.product .related-products h2, .woocommerce .content #page-meta, .single-product.woocommerce div.product div.images .thumbnails img,
.single-product.woocommerce div.product .single_variation_wrap span.label, .single-product.woocommerce div.product .single_variation_wrap span.value,
.single-product.woocommerce div.product div.images img,
.woocommerce table:after, .woocommerce-page .woocommerce_checkout_coupon:after, .woocommerce .woocommerce_checkout_coupon:after, .woocommerce .address:after, .woocommerce-account .woocommerce form:after, .woocommerce form.checkout_coupon:after,

.team-professional ul li .padding, .the-content-list > div,
.thumb-img img, .recent-post .thumb-img img, .sidebar .recent-post .thumb-img img, .recent-post .thumb-img img,
#portfolio.filterable .ch-item, .error404 .border-img-bottom, .error404 .error-404-text, .error404 .error-404-search, .error-404-search input#s,
.faq-title, .recent-post .hentry-post, .toggle h4.tab-index,

.teaser .image img, ul.filters, #map .view-map a,

.woocommerce ul.products li.product.grid.classic.with-border a.thumb,

div.yit_quick_contact, .woocommerce ul.cart_list li, .woocommerce-page ul.cart_list li, .woocommerce ul.product_list_widget li,
.woocommerce-page ul.product_list_widget li, .woocommerce.widget_best_sellers, .sidebar .recent-post .hentry-post,
.sidebar .recent-comments .border, .testimonial-widget li blockquote, .almost-all-categories ul > li, .sidebar .home-widget.contact-info ul li, .sidebar .widget.contact-info ul li,
#footer .widget.contact-info ul li, .yit_toggle_menu ul.menu li a, .widget_product_categories .product-categories li,
.widget.widget_layered_nav li small.count, .widget_product_categories .product-categories li span.count,

.boxed #header-container .innerborder,
.boxed #header-cart:after, .woocommerce table th, .woocommerce table.shop_table th, .woocommerce-page table.shop_table th,
.woocommerce table td, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td, .woocommerce table.cart .product-thumbnail img,
.woocommerce #content table.cart .product-thumbnail img, .woocommerce-page table.cart .product-thumbnail img, .woocommerce-page #content table.cart .product-thumbnail img,
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty,
.single-product.woocommerce div.product .related.products h2,
.sidebar input[type=text], .sidebar input[type=search], .sidebar .widget, .welcome_menu .welcome_menu_inner form,
.comment .comment-meta, .comment .comment-content .comment_line, .comment-flexslider, .comment-flexslider .comment-text,

#header-sidebar, .slogan .container, #nav ul.sub-menu, #nav ul.children, #nav .megamenu ul.sub-menu li.dropdown a, #nav .megamenu ul.sub-menu,

.autocomplete-suggestions, #header-sidebar #yith-s, #header-sidebar #yith-searchsubmit,

.general-pagination a, .section .title, #header-sidebar .widget_nav_menu ul.sub-menu,
#header-sidebar .widget_nav_menu #lang_sel ul ul,

.yit_cart_widget .cart_wrapper, .yit_cart_widget .cart_wrapper .widget_shopping_cart_content li,
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content li img,

.checkout_multistep .checkout_multistep_resume, .woocommerce .shop_table_coupon input.input-text,

.tabs-container ul.tabs, .tabs-container ul.tabs li.current a, div.plus, div.minus, .widget.faq-filters ul li, .faq-wrapper, .toggle,
.section.portfolio .wrap-title:after, .section.portfolio .classic .classic-thumbnail-wrap, .box-title .wrap-title, .box-title.wrap-title:after, .box-title.wrap-title .title,
.ie .section.portfolio .classic .classic-thumbnail-wrap, .ie .section.portfolio .classic .classic-thumbnail-wrap:hover,

.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .minus, .woocommerce .quantity .plus, .woocommerce #content .quantity .plus,
.woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus,

.section-services-bandw .service-wrapper,
.testimonials-flexslider ul li blockquote p, .testimonials-flexslider,
.testimonials-flexslider ul li blockquote p, .testimonials-flexslider,

.home-row .home-widget h3:before, .home-row .home-widget h3:after, .home-row .home-widget img,
.page .home-row .featured-products-widget h3:before, .page .home-row .featured-products-widget h3:after,

.single-product.woocommerce div.product div.images a.add_to_wishlist, .single-product.woocommerce div.product div.images a.compare,
#copyright .container,

.sbHolder .sbSelector, .single-product.woocommerce div.og-close,

#footer .container .row-fluid:first-child { border-color: #d8d4d4; }
#back-top { background-color: #93866d; }
.section.blog .yit_item .description { background-color: rgba( 255, 255, 255, 0.8 ); }
.section.blog .date { background-color: rgba( 255, 255, 255, 0.8 ); }
#topbar, #topbar .last-tweets li { background-color: #aa2329; }
.slogan { background-color: #f5f3f3; }
#header { background-color: #ffffff; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
#nav ul.sub-menu, #nav ul.children, #header-sidebar .widget_search_mini .search_mini_content, .widget_nav_menu ul.sub-menu, #lang_sel ul ul { background-color: #ffffff; }
.error-404-text p, .error-404-text p a { font-size: 13px; font-family: 'Lato', sans-serif; color: #666767; font-style: normal; font-weight: 400; }
.error-404-text p a { color: #302e2e; }
.error-404-text p a:hover { color: #ca4b4b; }
.error404 .error-404-text h2 { font-size: 25px; font-family: 'Lato', sans-serif; color: #302e2e; font-style: normal; font-weight: 700; }
#popupWrap .popup  h3 { font-size: 20px; font-family: 'Lato', sans-serif; color: #302e2e; font-style: normal; font-weight: 400; }
div.popup, div.popup_message, div.popup_message p, div.popup_message span { font-size: 13px; font-family: 'Lato', sans-serif; color: #787878; font-style: normal; font-weight: 400; }
#portfolios { background: #ffffff url(''); font-size: 18px; font-family: 'Abel', sans-serif; color: #000000; font-style: italic; font-weight: 700; }
div.box.success-box { font-size: 19px; font-family: 'Lato', sans-serif; color: #677932; font-style: normal; font-weight: 400; }
div.box.alert-box { font-size: 12px; font-family: 'Lato', sans-serif; color: #CA6B1C; font-style: normal; font-weight: 400; }
div.box.error-box { font-size: 19px; font-family: 'Lato', sans-serif; color: #900606; font-style: normal; font-weight: 400; }
div.box.notice-box { font-size: 19px; font-family: 'Lato', sans-serif; color: #21221e; font-style: normal; font-weight: 400; }
div.box.info-box { font-size: 19px; font-family: 'Lato', sans-serif; color: #40606d; font-style: normal; font-weight: 400; }
div.box-sections h1, div.box-sections h2, div.box-sections h3, div.box-sections h4, div.box-sections h5, div.box-sections h6, div.box-sections h1 span, div.box-sections h2 span, div.box-sections h3 span, div.box-sections h4 span, div.box-sections h5 span, div.box-sections h6 span { font-size: 18px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.call-to-action .incipit h2 { font-size: 24px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.call-to-action .incipit p { font-size: 18px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 400; }
.call-to-action .number-phone, .call-to-action .number-phone a { font-size: 48px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.call-to-action-two .incipit { font-size: 24px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 400; }
.call-to-action-two { background-color: #ffffff; border-color: #d0d0d0; }
.call-three .text h2 { font-size: 24px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.call-three .text h4 { font-size: 18px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 400; }
div.call-three { background-color: #ffffff; border-color: #d0d0d0; }
.recent-post .text > a { font-size: 13px; font-family: 'Lato', sans-serif; color: #656464; font-style: normal; font-weight: 400; }
.recent-post .text > a:hover { color: #ca4b4b; }
.sidebar .recent-post p, .recent-post p { font-size: 11px; font-family: 'Lato', sans-serif; color: #8e8a83; font-style: normal; font-weight: 400; }
.recent-post .text > a.read-more { font-size: 13px; font-family: 'Open Sans', sans-serif; color: #1A5B7D; font-style: normal; font-weight: 400; }
.recent-post .text > a.read-more:hover { color: #ca4b4b; }
#footer .recent-post .text p.post-comments, .recent-post .text p.post-comments { font-size: 11px; font-family: 'Lato', sans-serif; color: #c26511; font-style: normal; font-weight: 400; }
.tabs-container ul.tabs li h4 a,.single-product.woocommerce #primary div.product .woocommerce-tabs ul.tabs li a { font-size: 14px; font-family: 'Lato', sans-serif; color: #858282; font-style: normal; font-weight: 700; }
.tabs-container ul.tabs li h4 a:hover,.single-product.woocommerce #primary div.product .woocommerce-tabs ul.tabs li a:hover { color: #0a0a0a; }
.tabs-container ul.tabs li.current h4 a,.single-product.woocommerce #primary div.product .woocommerce-tabs ul.tabs li.active a { color: #0a0a0a; }
.pricing_box.large .header h3 { font-size: 16px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.pricing_box .header h3 { font-size: 15px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 400; }
.pricing_box h3 { font-size: 17px; font-family: 'Lato', sans-serif; color: #585555; font-style: normal; font-weight: 700; }
.pricing_box p.button a, .pricing_box p.button a:hover { font-size: 11px; font-family: 'Lato', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.pricing_box, .pricing_box p, .pricing_box ul li { font-size: 13px; font-family: 'Lato', sans-serif; color: #585656; font-style: normal; font-weight: 400; }
.pricing_box.large, .pricing_box.large p, .pricing_box.large ul li { font-size: 15px; font-family: 'Lato', sans-serif; color: #585656; font-style: normal; font-weight: 400; }
div.last-tweets-widget ul.tweets-widget li p, div.last-tweets-widget ul.tweets-widget li p a { font-size: 12px; font-family: 'Lato', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.last-tweets p a, div.last-tweets-widget ul.tweets-widget li p a { color: #a10707; }
.last-tweets p a:hover, div.last-tweets-widget ul.tweets-widget li p a:hover { color: #ca4b4b; }
ul.short li { font-size: 12px; font-family: 'Lato', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.toggle h4.tab-index a, .toggle h4.tab-index a:hover { font-size: 14px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
.toggle .content-tab, .toggle .content-tab p { font-size: 14px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 400; }
.contact-info .sidebar-nav ul li { font-size: 14px; font-family: 'Lato', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.icon_list h2 { font-size: 15px; font-family: 'Lato', sans-serif; color: #2c2b2b; font-style: normal; font-weight: 400; }
div.icon_list ul li, div.icon_list ul li a { font-size: 15px; font-family: 'Lato', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.icon_list ul li a { color: #000000; }
div.icon_list ul li a:hover { color: #ca4b4b; }
.testimonial .testimonial-text p, .testimonial .testimonial-text-full p, .testimonial-page .testimonial-text-full p { font-size: 11px; font-family: 'Lato', sans-serif; color: #656464; font-style: normal; font-weight: 400; }
.testimonial .testimonial-name a.name, .testimonial .testimonial-name p.name, .testimonial-page .testimonial-name a.name, .testimonial-page .testimonial-name p.name { font-size: 14px; font-family: 'Lato', sans-serif; color: #656464; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li blockquote p a, .testimonials-flexslider ul li blockquote p a { font-size: 15px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta, .testimonials-slider ul.testimonials li p.meta a, .testimonials-flexslider ul li p.meta a { font-size: 14px; font-family: 'Lato', sans-serif; color: #4d4b4b; font-style: normal; font-weight: 700; }
.testimonial .testimonial-name a.website, .testimonial .testimonial-name span.website, .testimonial-page .testimonial-name a.website, .testimonial-page .testimonial-name span.website { font-size: 14px; font-family: 'Lato', sans-serif; color: #ca4b4b; font-style: normal; font-weight: 400; }
.testimonial-page-full .testimonial-signature p.signature { font-size: 18px; font-family: 'Lato', sans-serif; color: #3a3a39; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta a:hover, .testimonials-flexslider ul li p.meta a:hover { color: #ca4b4b; }
#footer, #footer p, #footer li, #footer p, #footer a, #footer .widget.contact-info ul li, #footer .widget.contact-info ul li p, #footer .recent-comments .the-post .author, #footer .text-image { font-size: 13px; font-family: 'Lato', sans-serif; color: #575555; font-style: normal; font-weight: 400; }
#footer .container a, #footer .widget_featured_products a, #footer .widget_products a, #footer .widget.contact-info ul li strong { color: #414141; }
#footer .container a:hover { color: #ca4b4b; }
#footer h3 { font-size: 14px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
#copyright, #copyright div p, #copyright p, #copyright a, #copyright p a, #copyright div p a { font-size: 11px; font-family: 'Lato', sans-serif; color: #a2a2a2; font-style: normal; font-weight: 700; }
#copyright a, #copyright div a, #copyright div p a { color: #f1f1f1; }
#copyright a:hover, #copyright div a:hover, #copyright div p a:hover { color: #ca4b4b; }
a, p, li, address, dd, blockquote, td, th, .paragraph-links a, a.text-color, .menu-select select, .testimonial-widget li a, .testimonial-widget li p, #search_mini, .newsletter-input input, .newsletter-submit input, .features-tab-container .features-tab-labels li, .features-tab-content, .portfolio-libra .work-projects ul.pagination_nav li a, .widget.text-image, .text-color, .content_slider_text_block_wrap a { font-size: 14px; font-family: 'Lato', sans-serif; color: #999999; font-style: normal; font-weight: 400; }
a, a.text-color:hover { color: #999999; }
a:hover, body .login_register a:hover,
                            #multistep_step1 .step1_login_form form.login_checkout .lost_password:hover,
                            .portfolio-libra .work-projects ul.pagination_nav li a:hover,
                            a:hover .title-highlight,
                            .sbHolder .sbOptions a:hover,
                            .woocommerce ul.products li.product h3:hover,
                            .woocommerce ul.products li.product h3 a:hover,
                            .widget.faq-filters ul li:hover a, .widget.faq-filters ul li a.active,
                            .woocommerce .widget_layered_nav ul.yith-wcan-list li:hover a,
                            .single-product.woocommerce div.product form.variations_form a.reset_variations:hover,
                            .last-tweets p a:hover,
                            .home-row .woocommerce ul.product_list_widget li a:hover { color: #aa2329; }
#page-meta #yit-breadcrumb, #page-meta #yit-breadcrumb a, .breadcrumbs span { font-size: 11px; font-family: 'Lato', sans-serif; color: 4b4b4b; font-style: normal; font-weight: 400; }
#page-meta #yit-breadcrumb a:hover { color: #aa2329; }
#page-meta #yit-breadcrumb a.current { color: #aa2329; }
h1, h1 a { font-size: 30px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
h2, h2 a { font-size: 28px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
h3, h3 a, .sitemap h3 { font-size: 24px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
h4, h4 a { font-size: 18px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
h5, h5 a { font-size: 15px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
h6, h6 a { font-size: 13px; font-family: 'Lato', sans-serif; color: #4b4b4b; font-style: normal; font-weight: 700; }
.special-font, #header #logo #tagline span.special-font { font-size: 12px; font-family: 'Lato', sans-serif; color: #030303; font-style: normal; font-weight: 400; }
h1 span.title-highlight, h2 span.title-highlight, h3 span.title-highlight, h4 span.title-highlight, h5 span.title-highlight, h6 span.title-highlight, .box-sections span.title-highlight, .box-sections-border span.title-highlight { color: #aa2329; }
#back-top a, #back-top a:hover { font-size: 12px; font-family: 'Lato', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#nav ul li, #nav ul li a, #nav ul li a span.special-font, #nav .megamenu ul.sub-menu li.menu-item-custom-content p span.special-font, #header-sidebar .widget_nav_menu li a { font-size: 13px; font-family: 'Lato', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#nav ul li a:hover, #nav li:hover > a, #nav ul li a:hover span, #nav li:hover > a span, #header-sidebar .widget_nav_menu li a:hover { color: #aa2329; }
#nav .current-menu-item > a, #nav .current-menu-ancestor > a, div#nav ul .current_page_item > a, #nav .current_page_ancestor > a, #nav .current-menu-ancestor > a, #nav .current-menu-item > a span, #nav .current-menu-ancestor > a span, div#nav ul .current_page_item > a span, #nav .current_page_ancestor > a span, #nav .current-menu-ancestor > a span, #nav .megamenu ul.sub-menu li.current-menu-item > a  { color: #aa2329; }
#nav ul li ul li a, #nav .megamenu ul.sub-menu li li a, #nav ul li ul li a span.special-font, #nav .megamenu ul.sub-menu li li a span.special-font, #topbar #lang_sel ul ul a, #topbar .widget ul ul a { font-size: 11px; font-family: 'Lato', sans-serif; color: #7a7a7a; font-style: normal; font-weight: 400; }
#nav ul li ul li a:hover, #nav .megamenu ul.sub-menu li li a:hover, #nav ul li ul li a:hover span, #nav .megamenu ul.sub-menu li li a:hover span, #topbar #lang_sel ul ul a:hover, #topbar .widget ul ul a:hover { color: #aa2329; }
#nav ul ul .current-menu-item > a, #nav ul ul .current-menu-ancestor > a, div#nav ul ul .current_page_item > a, #nav .megamenu ul.sub-menu li a, #nav ul ul .current-menu-item > a span, #nav ul ul .current-menu-ancestor > a span, div#nav ul ul .current_page_item > a span, #nav .megamenu ul.sub-menu li a span { color: #aa2329; }
#nav .megamenu ul.sub-menu li a { font-size: 12px; font-family: 'Lato', sans-serif; color: #7a7a7a; font-style: normal; font-weight: 800; }
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6, .home-row .home-widget h3,.sidebar .cta .border h3, .sidebar .yit_quick_contact h3, .widget.widget_onsale h3, .widget.widget_best_sellers h3, .widget.widget_recent_products h3, .widget.widget_top_rated_products h3, .widget.widget_random_products h3,  .widget.widget_featured_products h3,.widget.widget_products h3, .widget.widget_recently_viewed_products h3, .sidebar .widget.widget_rss h3 a.rsswidget, .widget.widget_recent_reviews h3 { font-size: 14px; font-family: 'Lato', sans-serif; color: #0a0a0a; font-style: normal; font-weight: 700; }
.home-row .home-widget p,.sidebar p, .sidebar li, .sidebar div, .sidebar a, #wp-calendar th, #wp-calendar td, .woocommerce ul.cart_list li a, .woocommerce-page ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.product_list_widget li a, .sidebar .widget.widget_rss a.rsswidget { font-size: 14px; font-family: 'Lato', sans-serif; color: #302e2e; font-style: normal; font-weight: 400; }
.testimonial-widget li blockquote p, .testimonial-widget li blockquote p:first-child { font-size: 11px; font-family: 'Lato', sans-serif; color: #4f4d4d; font-style: normal; font-weight: 400; }
.testimonial-widget li .name-testimonial { font-size: 14px; font-family: 'Lato', sans-serif; color: #909091; font-style: normal; font-weight: 400; }#header {
background-color: rgba(0, 0, 0, 0.80);
position: absolute;
/*height: 125px;*/
width: 100%;
z-index: 999;}



.yit_cart_widget .cart-items {
margin-top: 8px;
background-size: 110% !important;
}


#primary {
margin-top: 120px;
}


.parallaxeos_container .testimonials-slider a{
font-size: 22px;
}



@media (max-width: 979px) and (min-width: 768px){

.box-sections, .one-fourth {
margin-right: 2%;
width: 48%;
}

}

@media (max-width: 767px){

div.teaser {
text-align: center;
}

.teaser .image {
display: inline-block;
float: none;
}

}
.blog-big .meta, .blog-small .meta { background: #ffffff; }