.agile-content{
	 clear: left;
	 float: left;
}
.agile-header{
	 clear: left;
	 float: left;
	 background-color: #D9D9D9;
	 margin-top: 2px;
}
.agile-as-cred{
	float:left;
	width:20em;
}
.agile-status-report{
	float:left;
	width:10em;
}
.agile-heading{
	float: left;
	clear:left;
}
.agile-amount_total{
color:blue;
float:left;
}
.agile-pay_total{
float:left;
margin-right:2em;
}
.agile-total{
	float: left;
	clear:left;
}
.agile-csv-full{
	float: right;
    padding-right: 180px;
    padding-top: 15px;
}
.agile-csv{
	float: right;
    padding-right: 105px;
    padding-top: 2em;
}
.agile-table{
	 clear: left;
	 float: left;
}
.agile-table-admin{
	clear: left;
    float: left;
    margin-top: 2px;
}
.admin_order{
	float:left;
	width:10em;
}
.admin_product{
	float:left;
	width:12em;
	color:blue;
}
.admin_initial{
	float:left;
	width:10em;
}
.admin_installement{
	float:left;
	width:15em;
}
.admin_installement_report_show{
	float:left;
	clear:left;
	background-color: white;
	margin-bottom: 2px;
	padding: 2px;
	color: green;
}
.admin_buton_entry{
	float:left;
	width:4em;
}
.agile-due{
	float:left;
	width:8em;	
}
.Payment_agile-due{
	float:left;
	width:8em;
}

.agile-auto{
	float:left;
	width:3em;
	color:blue;
}
.payment_agile-auto{
	float:left;
	width:13em;
	color:blue;
}
.agile-as{
	float:left;
	width:10em;
	
}
.payment_agile-as{
	float:left;
	width:8em;
	
}
.agile-from{
	float:left;
	width:20em;
	color:blue;
}
.payment_agile-from{
	float:left;
	width:8em;
	color:blue;
}
.agile-for{
	float:left;
	width:8em;
}
.payment_agile-for{
	float:left;
	width:7em;
}
.agile-status{
	float:left;
	width:7em;
	color:blue;
}
.add-total{
	float:left;
	
}
.agile-amount{
	float:left;
	width:6em;
}
.agile-activity-amount{
	float:left;
	width:10em;
	margin-top: 2em;
}
.payment_agile-amount{
	float:left;
	width:15em;
}
.agile-link{
	float:left;
	width:9em; 
}
.schedule-agile-due{
	float:left;
	width:10em;
}
.schedule_agile-auto{
	float:left;
	width:8em;
}
.schedule_agile-as{
	float:left;
	width:8em;
}
.schedule_agile-for{
	float:left;
	width:15em;
}
.schedule_agile-amount{
	float:left;
	width:6em;
}