.agile-content{
	 clear: left;
	 float: left;
}
.agile-header{
	 clear: left;
	 float: left;
	 background-color: #D9D9D9;
}
.agile-table{
	 clear: left;
	 float: left;
}
.agile-due{
	float:left;
	width:6em;
}

.agile-auto{
	float:left;
	width:3em;
	color:blue;
}
.agile-as{
	float:left;
	width:6em;
	
}
.agile-as-act{
	float:left;
	width:8em;
	
}
.agile-from{
	float:left;
	width:6em;
	color:blue;
}
.agile-for{
	float:left;
	width:6em;
}
.agile-front{
	float:left;
	width:10em;
}
.agile-status{
	float:left;
	width:6em;
	color:blue;
}
.agile-amount{
	float:left;
	width:4em;
}
.agile-link{
	float:left;
	width:6em; 
}
.agile-link-front{
	float:left;
	width:6em;
	clear: left;
}