/**
 * Your Inspiration Themes
 * 
 * In this files the framework register default metaboxes.
 * 
 * @package WordPress
 * @subpackage Your Inspiration Themes
 * @author Your Inspiration Themes Team <info@yithemes.com>
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(//themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(//themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(//themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  src: local('Lato Black'), local('Lato-Black'), url(//themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

/********************************************

In this file you can add your custom CSS.
It will always override rules in style.css.
Good work... and good luck! :)

********************************************/

.woocommerce-page #content-shop .woocommerce-message a.button, #primary .woocommerce.single-product .woocommerce-message a.button, .woocommerce-wishlist .woocommerce-message a.button { color:#333333 !important; }
.woocommerce-page #content-shop .woocommerce-message a.button:hover, #primary .woocommerce.single-product .woocommerce-message a.button:hover, .woocommerce-wishlist .woocommerce-message a.button:hover { color:#ffffff !important; }

div#nav > ul#menu-mmegamenu > li > a {
	color: #ffffff !important;
	font-size: 15px !important;
}
div#nav > ul#menu-mmegamenu > li > a:hover {
	text-decoration: none;
	color: #aa2329 !important;
}

div#nav > ul#menu-mmegamenu {
	margin-right: 14em !important;
}

ul.ei-slider-thumbs {
display: none !important;
}

#header, #header-container {
position: relative;
padding-bottom: 10px !important;
}

div.yit_cart_widget.widget_shopping_cart {
padding-bottom: 2px !important;
}

#header-sidebar .widget_search_mini .search_mini_button {
background-size: 67% !important;
border-right: 0;
}

div.cart_label > a.cart-items {
background-size: 100% !important;
height: 28px !important;
width: 28px !important;
margin-left: 15px;
background: url(http://newcourses.wpengine.com/wp-content/uploads/2014/03/Cart-ALT.png) no-repeat !important;
}

span.cart-items-number {
border: 0px !important;
}

ul#menu-wishlist > li#menu-item-1919 > a {
padding: 10px 0 0 10px !important;
color: #ffffff;
text-transform: capitalize;
}

a.read-more.red-button {
color: #ffffff !important;
}

button.single_add_to_cart_button.button.alt {
color: #ffffff !important;
}

input.button {
color: #ffffff !important;
}

body.postid-2817 div#primary {
margin-top: 30px !important;
}

/* ============= REPLACES THE BLACK SEARCH ICON WITH WHITE ================== */
#header-sidebar .widget_search_mini .search_mini_button {
background:url('images/icons/search-mini-icon-white.png') no-repeat left center;
padding-right: 10px;
}

/* ============= REPOSITIONS SEARCH BOX TO FALL UNDERNEATH SEARCH ICON ================== */
div > .search_mini_content.animated {
left: -20px !important;
}

/* ============= DISABLES THE PRODUCT PAGES HOVER IMAGE ================== */
.face.back {
visibility:hidden;
}

/* ============= UNIFIES THE PADDING ON RECENT POST FOOTER WIDGET DATE BOX ================== */
div > .hentry-post.group {
padding-bottom:10px !important;
}

/* ============= UNIFIES THE LINE HEIGHT ON RECENT POST FOOTER WIDGET DATE BOX ================== */
#footer p {
line-height:12px !important;
}

/* ============= REPOSITIONS THE MAIN SITE NAV FOR PHONE - TABLET ================== */

@media only screen and (max-width: 767px) {
html {
margin-top: 0 !important;
}

div > .widget-2.widget.span4.widget_text {
padding-left:20px;
}

#nav {
}

ul#menu-mmegamenu {
column-width:150px;
-moz-column-width:100px;
-webkit-column-width:150px;
-moz-column-gap:0px;
-webkit-column-gap:0px;
column-gap:0px;
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
}

ul#menu-mmegamenu > li > a {
color: #7a7a7a !important;
}

ul#menu-mmegamenu > li > a:active {
color: #aa2329 !important;
}

.yit_cart_widget .cart-items {
border: none !important;
}

div.yit_cart_widget.widget_shopping_cart > div.cart_label > a.cart-items {
background-size: 70% !important;
}

#header-sidebar .widget_search_mini .search_mini_button {
width: 10px;
height: 20px;
padding: 7px 7px 6px;
margin-right: 10px;
border: none;
}

@-moz-document url-prefix() {
	#header-sidebar {
	float: right;
	margin: 26px 30px 8px 0;
	}
}

div > .search_mini_content.animated {
left: -133px !important;
}

#nav {
width: 120px;
}
}

/* ============= REPOSITIONS THE MAIN SITE NAV FOR TABLET ================== */

@media only screen and (min-width:768px) and (max-width:980px) {
ul#menu-mmegamenu {
column-width:150px;
-moz-column-width:150px;
-webkit-column-width:150px;
-moz-column-gap:0px;
-webkit-column-gap:0px;
column-gap:0px;
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
min-height: 80px;
min-width: 200px;
}

ul#menu-mmegamenu > li {
width: 100px;
text-align: left;
display: block;
}

@-moz-document url-prefix() {
	ul#menu-mmegamenu > li {
	width: 100px;
	text-align: left;
	display: block;
	}
}

#nav {
position: absolute  !important;
top: -3;
left: 275px;
}

#nav > ul {
padding: 0;
}

#nav .sf-sub-indicator, .sf-sub-indicator {
display: block;
width: 11px;
height: 15px;
text-indent: -999em;
background: url('images/sprite.png') -64px -203px;
position: absolute;
top: 20%;
left: 72px;
}

#nav > ul li a, #nav .menu > ul li a {
padding: 0;
}

div#nav > ul#menu-mmegamenu {
	margin-right: 0em !important;
}
}

/* ============= REPOSITIONS THE MAIN SITE NAV FOR SMALL - MEDIUM DESKTOP ================== */

@media only screen and (min-width:981px) and (max-width: 1200px) {
ul#menu-mmegamenu {
column-width:150px;
-moz-column-width:150px;
-webkit-column-width:150px;
-moz-column-gap:0px;
-webkit-column-gap:0px;
column-gap:0px;
columns: 3;
-webkit-columns: 3;
-moz-columns: 3;
min-height: 60px;
min-width: 400px;
}

ul#menu-mmegamenu > li {
width: 120px;
text-align: left;
display: block;
}

@-moz-document url-prefix() {
	ul#menu-mmegamenu > li {
	width: 120px;
	text-align: left;
	display: block;
	}
}

#nav > ul {
padding: 0;
}

#nav .sf-sub-indicator, .sf-sub-indicator {
display: block;
width: 11px;
height: 15px;
text-indent: -999em;
background: url('images/sprite.png') -64px -203px;
position: absolute;
top: 18%;
left: 72px;
}

div#nav > ul#menu-mmegamenu {
	margin-right: 0em !important;
}
}

ul.tabs > li.info_tab, .reviews_tab {
display: none !important;
}

img.onsale {
z-index: 1000 !important;
}

.yith-wcwl-add-to-wishlist {
margin: 10px 0 20px 0 !important;
}

div.action.wishlist {
display: none !important;
}

div.thumbnails.nomagnifier:before {
width: 90%;
content: "chef support";
padding: 0 20px 15px 20px;
margin: 0 0 20px 0;
font-size: 14px;
font-family: 'Lato', sans-serif;
color: #000000;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
border-bottom: 1px solid #e5e3df;
}

div.thumbnails.nomagnifier {
padding-top: 70px !important;
}

div#nav > ul#menu-mmegamenu {
margin-right: none !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
html {
min-width: 320px;
overflow-x: hidden;
zoom: 0;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2)
{
html {
max-width: 320px;
overflow-x: hidden;
}
}

/** Targets removals for full course CA **/

body.postid-2817 div#header { display: none !important; }
body.postid-2817 .footer-row-1, #footer, .compare-button, .yith-wcwl-add-to-wishlist, .product_meta, .thumbnails, #sidebar-default-sidebar, .yith_magnifier_mousetrap { display: none; }
body.postid-2817 .span9 { width: 100% !important; }
body.postid-2817 .images { width: auto !important; }
body.postid-2817 .summary.entry-summary { float: left !important; padding-left: 20px !important; }

/** Targets removals for full course BP **/

body.postid-3106 div#header, body.postid-3105 div#header, body.postid-3060 div#header, body.page-id-1567 div#header, body.page-id-1565 div#header, body.page-id-2815 div#header, body.postid-3057 div#header, body.postid-2888 div#header, body.page-id-3048 div#header, body.postid-2888 div#header, body.postid-3049 div#header, body.postid-3052 div#header, body.postid-3053 div#header, body.page-id-3048 div#comments  { display: none !important; }
body.postid-2888 .footer-row-1, #footer, .compare-button, .yith-wcwl-add-to-wishlist, .product_meta, .thumbnails, #sidebar-default-sidebar, .yith_magnifier_mousetrap { display: none; }
body.postid-2888 .span9 { width: 100% !important; }
body.postid-2888 .images { width: auto !important; }
body.postid-2888 .summary.entry-summary { float: left !important; padding-left: 20px !important; }

a[href^="tartar_095-copy-1340x840.jpg"] { visibility: hidden; }


.page-id-1565 div.slogan, .page-id-1567 div.slogan { position: relative !important; top: 100px !important;}
.red-button, .black-button {color:white !important;}

a.button {color:#ffffff !important;}
a.add_to_cart_button {color: #ac151e !important;}
a.button .wc-forward {color:#333333 !important;}

/** Remove Checkout button from cart hover **/
.yit_cart_widget .cart_wrapper .widget_shopping_cart_content p.buttons a:nth-child(2) { display: none !important; }

.woocommerce-page #content-shop .woocommerce-message a.button { background-color:#e2efbb !important; color:#333333 !important; }

.yith_magnifier_zoom_wrap {z-index:99 !important;}

/** Removes Order Total from the Checkout Details Page **/
tr.order-total {display:none !important;}
